@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #8fbc8f;
  --color-secondary: #be9f7d;
}

*{
  font-family : Inter;
}
.font-playfair{
  font-family: Playfair !important;
}